:root {
  color-scheme: dark;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  display: grid;
  place-items: center;
  padding: 20px;
  grid-template-rows: 1fr;
}

#section {
  height: 100%;
  width: 500px;
  border: 1px solid #333;
  display: grid;
  grid-template-rows: 1fr 60px;
  overflow: hidden;
}

#form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 15px;
  padding: 20px;
  border-top: 1px solid #888;
}

#input {
  width: 100%;
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.btn-info {
  background-color: #456;
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}

#messages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#messages > li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #888;
  position: relative;
}

.own-message {
  background-color: #333;
}

.metadata-message {
  opacity: 0.8;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

#formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #888;
  padding: 1rem;
  width: 300px;
  height: 300px;
}

#formLogin > label > input {
  padding: 0.6rem 1rem;
  outline: none;
}

#formLogin > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sectionLogin {
  display: grid;
  place-items: center;
}

#logout-button {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 10px;
  border: 1px solid #fff;
  background-color: #888;
  border-radius: 50%;
  padding: 5px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
